/* --- Gráfico del Modelo de Caja --- */
.demo-box-model {
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    margin: 30px 0;
    color: #102a43;
}

.box-margin {
    background-color: #fbd38d; /* Naranja */
    padding: 20px;
    border: 1px dashed #7b341e;
}

.box-border {
    background-color: #feb2b2; /* Rojo claro */
    padding: 20px;
    border: 4px solid #9b2c2c;
}

.box-padding {
    background-color: #c6f6d5; /* Verde claro */
    padding: 20px;
    border: 1px dashed #22543d;
}

.box-content {
    background-color: #bee3f8; /* Azul claro */
    padding: 20px;
    border: 2px solid #2b6cb0;
    font-weight: bold;
}